@import "../../styles/partials/fonts";
@import "../../styles/partials/variables";

.add-task-btn {
  background-color: $color-white;
  color: $color-purple;
  padding: 10px 20px;
  height: fit-content;
  border-radius: 10px;
  border: none;
  font-size: $x-large;
  bottom: 20px;
  left: 0;
  right: 0;
  &:hover {
    cursor: pointer;
  }
}
