/*--------------------------------------------Color Variable--------------------------------------------*/
//BLACK
$color-black: #000;

//WHITE
$color-white: #fff;

//GREY
$color-grey: #f6f6f6;
$color-grey-2: #bababa;
$color-grey-3: #7f7f7f;

//BLUE
$color-blue: #1777f2;
$color-blue-2: #518ef8;

//GREEN
$color-green: #0acf83;
$color-green-2: #28b446;

//RED
$color-red: #f14336;

//YELLOW
$color-yellow: #ffc120;
$color-yellow-2: #fbbb00;

/* --------------------------------------Font Weight--------------------------------------------*/
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

/* --------------------------------------Font size variables--------------------------------------------*/
$xx-small: 10px;
$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 18px;
$x-large: 20px;
$xx-large: 24px;
$xxx-large: 28px;
