@import "../../styles/partials/fonts";
@import "../../styles/partials/variables";

.task-list-container {
  background-color: $color-white;
  color: $color-black;
  border-top-left-radius: 50px;
  overflow-y: scroll;
  height: calc(100vh - 213px);
  .search-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border-radius: 5px;
      width: 50%;
      padding: 10px 5px;
    }
  }
  .filter-buttons {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    .active {
      background-color: $color-purple;
      color: $color-white;
    }
    button {
      padding: 5px 20px;
      background-color: $color-purple-light;
      color: $color-black;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .heading-sort-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    &__heading {
      display: block;
      width: 90%;
      font-weight: $semi-bold;
      margin: auto;
      font-size: $xxx-large;
    }
  }

  &__list {
    min-height: 20rem;
    padding-left: 0;
  }
}
